<%-contentFor('title')%>Index
<%-contentFor('section')%>
<a href="/users/create" class="btn btn-primary">Add New user <i class="fas fa-user-plus"></i></a>
<table class="table table-dark table-hover mt-2">
  <% users.forEach((user) => { %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%- user.name %></td>
      <td><%- user.email %></td>
      <td><%- user.gender %></td>
      <td><%- user.status %></td>
    </tr>
  </tbody>
  <% }) %>
</table>