<%-contentFor('title')%>Index
<%-contentFor('section')%>
<a href="/users/create" class="btn btn-primary">Add New user <i class="fas fa-user-plus"></i></a>
<table class="table table-dark table-hover mt-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% if(users.length > 0) { %>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.gender %></td>
      <td><%= user.status ? 'Active' : 'Inactive' %> <i class="fas fa-circle <%- user.status ? 'text-success' : 'text-danger' %>"></i></td>
    </tr>
    <% }) %>
    <% } else { %>
    <td class="text-center" colspan="4">No users</td>
    <% } %>
  </tbody>
</table>